.gm-menu {
  background: #22252b;
  position: relative;

  .gm-menu-logo {
    height: 80px;
  }

  .gm-menu-two {
    display: none;
  }

  .gm-menu-there {
    padding-top: 100px;
    position: absolute;
    background: #282e35;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .gm-menu-there > a {
    font-size: 16px;
    display: block;
    color: #7f8386;
    white-space: nowrap;
    padding: 15px 15px 20px;
    text-decoration: none;
  }

  .gm-menu-two > a {
    font-size: 16px;
    display: block;
    padding: 10px 10px 10px 25px;
    color: #7f8386;
    text-decoration: none;
  }

  .gm-menu-one > div.active > .gm-menu-two {
    display: block;
  }

  .gm-menu-two > a.active {
    background: #282e35;
  }

  .gm-menu-there > a.active {
    color: @brand-primary;
  }

  .gm-menu-one > div > a {
    font-size: 18px;
    border-top: 1px solid #282e35;
    display: block;
    padding: 15px 10px;
    color: white;
    text-decoration: none;
  }

  .gm-menu-two > a:hover {
    background: #282e35;
  }

  //> .gm-menu-title {
  //  cursor: pointer;
  //  width: 100%;
  //  color: @gm-color-second;
  //
  //  span {
  //    font-size: 12px;
  //    padding: 10px 0 10px 20px;
  //  }
  //
  //  i {
  //    font-size: 12px;
  //  }
  //
  //  .gm-disabled-arrow-color {
  //    color: #dedddd;
  //  }
  //}
  //
  //.gm-menu-sub {
  //  width: 100%;
  //  display: none;
  //
  //  span {
  //    display: block;
  //    cursor: pointer;
  //    font-size: 14px;
  //    padding: 10px 10px 10px 35px;
  //    text-decoration: none;
  //    line-height: 1.2;
  //
  //    &:hover {
  //      background: @gm-back-body-bg;
  //      text-decoration: none;
  //    }
  //
  //    &.active {
  //      position: relative;
  //      color: @brand-primary;
  //    }
  //
  //    &.active::before {
  //      position: absolute;
  //      width: 4px;
  //      height: 100%;
  //      background-color: @brand-primary;
  //      content: " ";
  //      top: 0;
  //      left: 0;
  //    }
  //  }
  //}
  //
  //.gm-menu-sub-opened {
  //  display: inline-block;
  //}
  //
  //> .gm-menu-title-disabled {
  //  cursor: default;
  //}
}
